/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

/*stars*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Pulling in reset css and fonts http://seodesigns.com/projects/TD/css/reset.css */
body {
    background: #f6f6f6;
}

p {
    font-family: "Webly Sleek SemiLight", Helvetica-, droid sans, sans-serif;
    font-weight: normal;
    margin: 0 0 1rem;
}

.centerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    width: 620px;
    min-height: 52px;
    z-index: 2
}

.centerbox h1 {
    margin-bottom: 25px;
    font-size: 36px;
    font-family: "Webly Sleek SemiLight";
    font-weight: normal;
    text-align: center;
}

.centerbox p.description {
    margin-bottom: 40px;
    text-align: center;
}

.description a {
    text-decoration: none;
}

.main-input {
    background: #fff;
    height: 50px;
    width: 327px;
    color: #a7b1ab;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px 0px 57px;
    font-size: 16px;
    border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/search.png") 18px 15px no-repeat;
    background-size: 18px 18px;
    float: left;
}

.main-location {
    display: none;
}

#main-submit {
    background: #ffbc3b;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    width: 141px;
    height: 50px;
    border: 0; pxpadding-top: 0px;
    float: left;
}

#main-submit:hover {
    background: #ffbc3b;
    color: #fff !important;
    -webkit-appearance: none;
}

#main-submit-mobile {
    display: none;
}

footer {
    border-top: 0px;
}

.main-btn {
    display: inline-block;
    width: 150px;
    height: 50px;
    border: 1px solid #cccccc;
    padding: 0px;
    position: relative;
    float: left;
    border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/main-bullet.png") 122px 23px no-repeat;
    background-size: 6px 6px;
    cursor: pointer;
}

.search-small {
    font-size: 12px;
    margin: 0px;
    color: #9B9B9B;
    position: absolute;
    top: 6px;
    left: 16px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: left;
}

.search-large {
    font-size: 16px;
    margin: 0px;
    color: #4A4A4A;
    position: absolute;
    top: 19px;
    left: 16px;
    display: inline-block;
    width: 105px;
    height: 20px;
    font-weight: 900;
    text-align: left;
}

.main-form-container {
    height: 50px;
    position: relative;
}

ul.search-description {
    width: 150px;
    position: absolute;
    background: #fff;
    right: 143px;
    top: 55px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 14px 0px;
    border: 1px solid #E5E5E5;
    display: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.search-description li {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 900;
    padding: 6px 0px;
    display: block;
    padding-left: 16px;
    cursor: pointer;
}

.search-description li:hover {
    background: #f8f8f8;
}


/* responsive css below */
@media only screen and (max-width: 680px) {
    .main-btn {
        border-radius: 0px 4px 4px 0px;
        -moz-border-radius: 0px 4px 4px 0px;
        -webkit-border-radius: 0px 4px 4px 0px;
        border-right: 1px solid #cccccc;
    }

    ul.search-description {
        right: 0px;
        z-index: 9999;
    }

    .centerbox p.description {
        width: 284px;
        margin: 0 auto 40px auto;
    }

    .centerbox {
        width: auto;
        transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%); /* IE 9 */
        -webkit-transform: translate(-50%, -60%); /* Chrome, Safari, Opera */
    }

    .main-form-container {
        width: 477px
    }

    #main-submit {
        display: none;
    }

    #main-submit-mobile {
        background: #ffbc3b;
        color: #fff;
        display: block;
        font-size: 19px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
        margin-bottom: 0px;
        -webkit-appearance: none;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        width: 141px;
        height: 50px;
        border: 0px;
        padding-top: 0px;
        float: none;
        border: 0px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        width: 100%;
        z-index: 1;
    }

    #main-submit-mobile:hover {
        background: #ffbc3b;
        color: #fff !important;
        -webkit-appearance: none;
    }

    footer {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 515px) {
    .main-input {
        width: 210px;
    }

    .main-form-container {
        width: 360px
    }

    .centerbox h1 {
        width: 280px;
        margin: 0 auto 15px auto;
    }

    .centerbox {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

@media only screen and (max-width: 375px) {
    .cover {
        background: rgba(0, 0, 0, 0) url("seodesigns.com/projects/TD/images/background.jpg") no-repeat center -175px;
    }

    .main-input {
        width: 185px;
        padding-left: 42px;
        background: #ffffff url("http://seodesigns.com/projects/TD/images/search.png") 12px 15px no-repeat;
        background-size: 18px 18px;
    }

    .main-btn {
        width: 108px;
        background: #ffffff url("http://seodesigns.com/projects/TD/images/main-bullet.png") 85px 23px no-repeat;
        background-size: 6px 6px;
    }

    .main-form-container {
        width: 293px
    }

    .search-small {
        left: 13px;
    }

    .search-large {
        left: 13px;
    }
}

/*
SearchBar above
 */

p, .paragraph {
    font-weight: 400;
    color: #5c5c77;
    font-size: 15px;
    line-height: 1.9;
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1e1e4b;
    font-family: "futura-bold", sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 60px;
}

@media (max-width: 575px) {
    h1, .h1 {
        font-size: 45px;
    }
}

h2, .h2 {
    font-size: 40px;
}

@media (max-width: 575px) {
    h2, .h2 {
        font-size: 30px;
    }
}

h3, .h3 {
    font-size: 25px;
}

@media (max-width: 575px) {
    h3, .h3 {
        font-size: 20px;
    }
}

h4, .h4 {
    font-size: 20px;
}

@media (max-width: 575px) {
    h4, .h4 {
        font-size: 18px;
    }
}

h5, .h5 {
    font-size: 18px;
}

@media (max-width: 575px) {
    h5, .h5 {
        font-size: 16px;
    }
}

h6, .h6 {
    font-size: 16px;
}

@media (max-width: 575px) {
    h6, .h6 {
        font-size: 14px;
    }
}

/* Button style */
.btn {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 0;
    font-weight: 500;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
    overflow: hidden;
    white-space: nowrap;
}

.btn::before {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    left: 0;
    bottom: 10%;
    z-index: -1;
    transition: transform 0.2s ease-in-out;
    transform-origin: top;
    transform: scaleY(0);
}

.btn:active, .btn:hover, .btn.focus, .btn:focus, .btn.active {
    outline: 0;
    box-shadow: none !important;
}

.btn:active::before, .btn:hover::before, .btn.focus::before, .btn:focus::before, .btn.active::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.btn-sm {
    font-size: 14px;
    padding: 10px 35px;
}

.btn-xs {
    font-size: 12px;
    padding: 5px 15px;
}

.btn-primary {
    color: #fff;
    background-color: #ffbc3b;
}

.btn-primary::before {
    background-color: #fff;
}

.btn-primary:active, .btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary.active {
    color: #ffbc3b !important;
    background-color: #ffab08 !important;
    border-color: #ffab08 !important;
}

.btn-outline-primary {
    color: #ffbc3b;
    background-color: transparent;
    border: 1px solid #ffbc3b;
}

.btn-outline-primary::before {
    background-color: #fff;
}

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary.focus, .btn-outline-primary:focus, .btn-outline-primary.active {
    color: #ffbc3b !important;
    background-color: #ffbc3b !important;
    border-color: #ffbc3b !important;
}

.btn-light {
    color: #ffbc3b;
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-light::before {
    background-color: #ffbc3b;
}

.btn-light:active, .btn-light:hover, .btn-light.focus, .btn-light:focus, .btn-light.active {
    color: #fff !important;
    background-color: #fff !important;
    border: 1px solid #fff !important;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

::-moz-selection {
    background: #ffcd6e;
    color: #fff;
}

::selection {
    background: #ffcd6e;
    color: #fff;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFDC11;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol,
ul {
    list-style-type: none;
    margin: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button,
select {
    cursor: pointer;
    transition: 0.2s ease;
}

a:focus,
button:focus,
select:focus {
    outline: 0;
}

a:hover {
    color: #ffbc3b;
}

a.text-primary:hover {
    color: #ffbc3b !important;
}

a.text-light:hover {
    color: #ffbc3b !important;
}

h4 {
    transition: 0.2s ease;
}

a h4:hover {
    color: #ffbc3b;
}

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.section-sm {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-title {
    margin-bottom: 30px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.border-primary {
    border-color: #ededf1 !important;
}

/* overlay */
.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #1a1a37;
    opacity: 0.8;
}

.outline-0 {
    outline: 0 !important;
}

.d-unset {
    display: unset !important;
}

.bg-primary {
    background: #ffbc3b !important;
}

.bg-secondary {
    background: #1a1a37 !important;
}

.bg-gray {
    background: #f8f8f8;
}

.text-primary {
    color: #ffbc3b !important;
}

.text-color {
    color: #5c5c77;
}

.text-light {
    color: #8585a4 !important;
}

.text-lighten {
    color: #d6d6e0 !important;
}

.text-muted {
    color: #b5b5b7 !important;
}

.text-dark {
    color: #1e1e4b !important;
}

.font-secondary {
    font-family: "futura-bold";
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.pl-150 {
    padding-left: 150px;
}

.zindex-1 {
    z-index: 1;
}

@media (max-width: 991px) {
    .overflow-md-hidden {
        overflow: hidden;
    }
}

.vertical-align-middle {
    vertical-align: middle;
}

.icon-md {
    font-size: 36px;
}

/* page title */
.page-title-section {
    padding: 200px 0 80px;
}

.custom-breadcrumb li.nasted {
    position: relative;
    padding-left: 25px;
}

.custom-breadcrumb li.nasted::before {
    position: absolute;
    font-family: "themify";
    content: "\e649";
    font-size: 20px;
    top: 50%;
    left: -5px;
    color: #fff;
    transform: translateY(-50%);
}

/* /page title */
.list-styled {
    padding-left: 25px;
}

.list-styled li {
    position: relative;
    margin-bottom: 15px;
}

.list-styled li::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffbc3b;
    left: -25px;
    top: 5px;
}

textarea.form-control {
    height: 200px;
    padding: 20px;
}

#map_canvas {
    height: 500px;
}

.top-header {
    font-size: 12px;
    transition: transform 0.2s ease;
    transform-origin: top;
    font-weight: 600;
}

.top-header.hide {
    transform: scaleY(0);
    transform-origin: top;
}

.navigation {
    background: linear-gradient(to right, transparent 50%, #ffbc3b 50%);
    transition: 0.2s ease;
}

@media (max-width: 991px) {
    .navigation {
        background: #1a1a37;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background: #1a1a37;
        max-height: calc(100vh - 80px);
    }

    .navbar-collapse.show {
        overflow-y: auto;
    }
}

.navbar-nav {
    padding-left: 50px;
    background: #ffbc3b;
}

@media (max-width: 991px) {
    .navbar-nav {
        padding-left: 0;
        background: #1a1a37;
    }
}

.nav-bg {
    background-color: #1a1a37;
}

.nav-item {
    margin: 0 15px;
    position: relative;
}

@media (max-width: 991px) {
    .nav-item:last-child {
        margin-bottom: 20px;
    }
}

.nav-item .nav-link {
    text-transform: uppercase; !important;
    font-weight: 600; !important;
}

.nav-item::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    content: "";
    background: #fff;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    pointer-events: none;
}

@media (max-width: 991px) {
    .nav-item::before {
        opacity: 0.1;
        height: 100%;
    }
}

.nav-item:hover::before, .nav-item.active::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 40px 0px;
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 12px 20px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.0509803922);
}

.navbar .nav-item > .dropdown-toggle::after {
    border: 0;
    margin-left: 0.255em;
    vertical-align: 1px;
    content: "\e64b";
    font-family: "themify";
    font-size: 11px;
    width: auto;
}

.navbar .dropdown .dropdown-menu li {
    padding-top: 10px;
}

.navbar .dropdown .dropdown-menu li:last-child {
    padding-bottom: 15px;
}

.navbar .dropdown .dropdown-menu.dropdown-submenu {
    top: 0;
}

@media (max-width: 991px) {
    .navbar .dropdown .dropdown-menu.dropdown-submenu li:first-child {
        margin-top: 15px;
    }
}

.navbar .dropdown .dropdown-item .dropdown-toggle {
    display: block;
    line-height: 1.8;
}

.navbar .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navbar .dropdown-menu {
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
    border-bottom: 5px solid #ffbc3b;
    padding: 0 15px;
    padding-left: 5px;
    top: 96px;
    border-radius: 0;
    display: block;
    visibility: hidden;
    transition: 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    background: #fff;
}

@media (max-width: 991px) {
    .navbar .dropdown-menu {
        padding-left: 15px;
        display: none;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transform-origin: unset;
        margin: 0;
        border: 0;
        position: static;
    }
}

.navbar .dropdown-menu.show {
    visibility: hidden;
}

@media (max-width: 991px) {
    .navbar .dropdown-menu.show {
        visibility: visible;
        display: block;
    }
}

.navbar .dropdown .dropdown .dropdown-toggle, .navbar .dropdown-item {
    position: relative;
    color: #1e1e4b;
    transition: 0.2s ease;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 991px) {
    .navbar .dropdown .dropdown .dropdown-toggle, .navbar .dropdown-item {
        text-align: center;
    }
}

.navbar .dropdown .dropdown .dropdown-toggle:hover, .navbar .dropdown-item:hover {
    color: #ffbc3b;
    background: transparent;
}

.hero-section {
    padding: 250px 0 290px;
    margin-top: 5%;
}

@media (max-width: 991px) {
    .hero-section {
        padding: 250px 0 200px;
    }
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
    position: absolute;
    bottom: -123px;
    z-index: 9;
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    font-size: 30px;
    transition: all linear 0.2s;
    background: transparent;
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
    outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
    color: #ffbc3b;
}

.hero-slider .prevArrow {
    right: 60px;
}

.hero-slider .nextArrow {
    right: 0;
}

.hero-slider .slick-dots {
    position: absolute;
    left: 0;
    bottom: -100px;
    padding-left: 0;
}

.hero-slider .slick-dots li {
    display: inline-block;
    margin: 0 6px;
}

.hero-slider .slick-dots li.slick-active button {
    background: #ffbc3b;
}

.hero-slider .slick-dots li button {
    color: transparent;
    padding: 0;
    overflow: hidden;
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    outline: 0;
}

/* banner feature */
.feature-icon {
    font-size: 50px;
    color: #ffbc3b;
    display: inline-block;
}

.feature-blocks {
    margin-top: -100px;
    padding-left: 70px;
    padding-top: 80px;
    padding-right: 30%;
}

@media (max-width: 1400px) {
    .feature-blocks {
        padding-right: 10%;
    }
}

@media (max-width: 1200px) {
    .feature-blocks {
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 50px;
    }

    .feature-blocks h3 {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .feature-blocks {
        margin-top: 60px;
        padding: 50px;
    }

    .feature-blocks h3 {
        font-size: 25px;
    }
}

/* /banner feature */
/* course */
.card-btn {
    font-size: 12px;
    padding: 5px 10px;
}

.flex-basis-33 {
    flex-basis: 33.3333%;
}

.hover-shadow {
    transition: 0.3s ease;
}

.hover-shadow:hover {
    box-shadow: 0px 4px 25px 0px rgba(27, 39, 71, 0.15);
}

/* /course */
/* success story */
.success-video {
    min-height: 300px;
}

.success-video .play-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .success-video .play-btn {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.play-btn {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #ffbc3b;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.play-btn i {
    line-height: 80px;
}

.play-btn::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -2;
    transition: 0.3s ease;
    transition-delay: 0.2s;
}

.play-btn::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 80%;
    transform: translate(-50%, -50%);
    background: #ffbc3b;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 0.3s ease;
}

.play-btn:hover::before {
    height: 80%;
    width: 80%;
    transition-delay: 0s;
}

.play-btn:hover::after {
    height: 0;
    width: 0;
    transition: 0s ease;
}

/* /success story */
/* events */
.card-date {
    position: absolute;
    background: #ffbc3b;
    font-family: "futura-bold";
    text-align: center;
    padding: 10px;
    color: #fff;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.card-date span {
    font-size: 40px;
}

/* /events */
/* teacher */
.teacher-info {
    width: 70%;
    bottom: 0;
    right: 0;
}

/* /teacher */
/* footer */
.newsletter {
    background-image: linear-gradient(to right, transparent 50%, #ffbc3b 50%);
    margin-bottom: -170px;
    position: relative;
    z-index: 1;
}

.newsletter-block {
    padding-left: 50px;
}

@media (max-width: 575px) {
    .newsletter-block {
        padding-left: 15px;
    }
}

.input-wrapper {
    position: relative;
}

.input-wrapper button {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control {
    height: 60px;
    background: #fff;
    border-radius: 0;
    padding-left: 25px;
}

.form-control:focus {
    border-color: #ffbc3b;
    box-shadow: none;
}

.newsletter-block .form-control {
    height: 90px;
}

.bg-footer {
    background-color: #182b45;
}

.logo-footer {
    margin-top: -20px;
    display: inline-block;
}

.footer {
    border-color: #494a43 !important;
    padding-top: 275px;
}

/* /footer */
.filter-controls li {
    cursor: pointer;
    transition: 0.1s ease;
}

.filter-controls li.active {
    font-weight: 600;
    color: #ffbc3b;
}

.filter-controls li:hover {
    color: #ffbc3b;
}

/*# sourceMappingURL=style.css.map */


.uploadOuter {
    text-align: center;
    padding: 20px;
    color: white;

}

strong {
    padding: 0 10px;
}

.dragBox {
    width: 250px;
    height: 100px;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;

}

input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

.draging {
    transform: scale(1.1);
}

#preview {
    text-align: center;

}

img {
    max-width: 71%;
    border-radius: 50%;
    width: 60%;
    margin-top: 10%;
}

body {
    margin: 20px 50px;
}

h1 {
    font-size: 1.5em;
}

p {
    margin: 0;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.ready {
    font-size: 1.5em;
}

.ui-progressbar-value {
    background: lightgreen;
}

.progressbar-container {
    position: relative;
    width: 350px;
}

.progressbar-bar {
    height: 25px;
    margin: 10px 0;
    border-radius: 7px;
}

.progressbar-label {
    position: absolute;
    top: 2px;
    left: 45%;
    z-index: 2;
}

/*
Rating*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating > input {
    display: none;
}

.rating > label {
    position: relative;
    width: 30px;
    font-size: 30px;
    color: #FFD700;
    cursor: pointer;
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
}

.rating > input:checked ~ label:before {
    opacity: 1;
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4;
}

.background-color {
    background-color: white;
}


.video-space {
    display: inline-block;
}

.text-area {
    display: inline-block;
    padding-left: 50px;
}

.comment-container {
    border: 1px solid #585858;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
}

.secondary-text {
    font-size: 0.8em;
    color: #585858;
}

.primary-text {
color: black;
}

.comment-button {
    margin-right: 5px;
}

img.lecture-main-picture {
    width: 100%;
    margin-top: -25px;
}

.user-image {
    margin-top: -10px;
}

.lecture-buttons {
    margin-right: 7px;
}

.button-margin {
    margin-bottom: 50px;
}

.teacher-images {
    max-width: 100%;
    height: auto;
}