<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Basic Page Needs
	================================================== -->
  <meta charset="utf-8">
  <title>Educenter - Education HTML Template</title>

  <!-- Mobile Specific Metas
	================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Educenter HTML Template v1.0">

  <!-- ** ../../../plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../../../plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="../../../plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="../../../plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="../../../plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="../../../plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="../../../plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="../../../css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="../../../static/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="../../../images/favicon.png" type="image/x-icon">

</head>

<body>
<!-- preloader start -->
<div class="preloader">
  <img src="../../../images/preloader.gif" alt="preloader">
</div>
<!-- preloader end -->

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="tel:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://facebook.com/themefisher/"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://github.com/themefisher"><i class="ti-github"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://instagram.com/themefisher/"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html">notice</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html">research</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html">SCHOLARSHIP</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->

</header>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content rounded-0 border-0 p-4" id="edit">
    <div class="modal-header border-0">
      <h3 style="text-align: center">Edit</h3>

    </div>
    <div class="modal-body">
      <div class="login">
        <form action="#" class="row" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" method="post">
          <div class="col-12">
            <input type="text" class="form-control mb-3" id="editFirstname" name="editFirstname" placeholder="First Name" th:field="*{firstName}">
            <label class="error" th:errors="*{firstName}">First name error
              placeholder</label>
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-3" id="editLastname" name="editLastname" placeholder="Last Name" th:field="*{lastName}">
            <label class="error" th:errors="*{lastName}">Last name error
              placeholder</label>
          </div>
          <div class="col-12">
            <input type="password" class="form-control mb-3" id="editPassword" name="editPassword" placeholder="Password" th:field="*{password}">
            <label class="error" th:errors="*{password}">Password error
              placeholder</label>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" th:href="@{/}">Close</a>
          </div>
        </form>
        <form method="post" enctype="multipart/form-data" th:action="@{/users/{id}/update/uploadImage(id=${id})}" name="imageFile" id="imageFile">
          <div class="col-12">
            <br>
            <input type="file"  onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"
                   accept="image/png, image/gif, image/jpeg" value="CLICK ME" id="selectedImage" name="imageFile" style="width: 10%">
            <label for="selectedImage">Click me to select or change</label>
            <br>
            <img id="blah" src="#" alt=""/>
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- jQuery -->
<script src="../../../plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="../../../plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="../../../plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="../../../plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="../../../plugins/venobox/venobox.min.js"></script>
<!-- filter -->
<script src="../../../plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
<script src="../../../plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="../../../js/script.js"></script>

</body>
</html>